

.books{
  background-color: green;
}

figure {
  display: inline-block;
  margin: 20px; /* adjust as needed */
  background-color: palegoldenrod;
  border: 2px solid black;
  word-wrap: break-word;
  transition: transform .7s ease-in-out;
}

figure:hover {
  transform: scale(2);
}

figure img {
  height: 200px;
  width: 200px;
}


figure figcaption {
  text-align: center;
  display: table-caption;
  caption-side:bottom;
  width: 200px;
}
