<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <title>Document</title>

    <!-- (A) JS -->
    <!-- https://github.com/okfn/csv.js/ -->
    <script src="static/csv.min.js"></script>
    <script src="static/2-csv-object.js"></script>
    

<body>
    
    <h1> Welcome to my Library!</h1>
    <h2> Please visit us here </h2>

        <!-- (B) FILE PICKER -->
        <input type="file" accept=".csv" id="demoB">
        <main>
            <div class="left-box">
                <div class="left-tab">Reading</div>
                <div class="left-tab">Read</div>
                <div class="left-tab">Re-read</div>
            </div>
            <div class="books" id="bookbox">hi</div>
        </main>
</body>
</html>